.container{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    width:100vw;
    background-color: rgb(107, 111, 121);
}
.box{
    display:flex;
    justify-content: end;
    align-items:center;
    flex-direction:column;
    height:585px;
    width:350px;
    background-color:rgb(44, 44, 44);
    border-radius:24px;
    padding:24px;
}
.screen{
    flex:1;
    display:flex;
    justify-content: right;
    align-items:end;
    width:100%;
    margin:0 0 8px 0;
    border-radius:15px;
    width:100%;
    height:100%;
    padding:0 16px 4px 0;
    outline:0;
    border:0;
    border-radius:15px;
    background-color:rgb(58, 54, 54);
    color:white;
    font-family:'Robot',sans-serif;
}
.screen h3{
    font-size: xx-large;
    margin:0;
}
.app{
    flex:3;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width:100%;
    padding:6px 0 0 0;
}
button{
    border-radius:50%;
    margin:4px;
    height:80px;
    width:80px;
    border:0;
    outline:0;
    color:white;
    font-size:x-large;
    cursor:pointer;
    transition:opacity .3s;
    box-shadow: rgba(0, 0, 0, 0.15);
}
button:hover{
    opacity:0.8;
}
button:active{
    opacity:0.4;
}
.row1,.row2,.row3,.row4,.row5{
    display:flex;
    justify-content: center;
    align-items:center;
}
.btn-1{
    background-color: rgb(93, 92, 92);
}
.btn-2{
    background-color:orange;
    color:white;
}
.btn-3{
    background-color:rgb(157, 155, 155);
}